@use '../custom' as *;

.card{
    border: 0px;
    width: 100%;
    padding-bottom: 1rem;
}

@media (min-width: 426px){
.ext-sec {
    margin-top: 4rem;
}
}

.gap-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

.cust-shadow{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border-radius: .7rem;
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .card-ext{
        max-width: 350px;
    }
}

@media (min-width: 1750px) and (max-width: 2560px) {
    .card-ext{
        display: flex;
        justify-content: center;
        gap: 0;
        padding: 2rem 0rem 3rem 0rem;
    }
}

.border-dotted-cust{
    border-bottom-style: dotted;
    border-bottom-width: 4px;
    border-bottom-color: rgb(220, 220, 220);
}


.custom-card-top {
    position: relative;
    top: 0;
  }
  
  .custom-card-middle {
    position: relative;
    top: 0%;
    transform: translateY(10%);
  }
  
  .custom-card-bottom {
    position: relative;
    top: 0%;
    transform: translateY(20%);
  }
  
  @media (min-width: 320px) and (max-width: 425px) {  
.mr-section-ext{
    margin-bottom: 2rem;
}
  }

@media (min-width: 768px) {
.mr-section-ext{
    margin-bottom: 8rem;
}
}

@media (min-width: 320px) and (max-width: 425px) {
.height-sm{
    height: 80rem; //No entiendo porque el height auto no funciona
    //border: 1px solid black;
}
}