@use '../custom' as *;

.footer{
    width: 100%;
    height: 100%;
    padding-bottom: 3rem;
    background-color: $darkblue;
}

.footer-text{
    color: $gray;
}

@media (min-width: 1440px) and (max-width: 2560px) {
    .footer-text{
        font-size: 1.35rem;
    }
}