@use '../custom' as *;

/* Add a bottom border to the selected button */
.feature-btn:focus,
.feature-btn:active {
  border-bottom: 2px solid $secondary;
  border-radius: 0px;
}

.border-gnr{
    border-bottom: 1px solid rgb(212, 212, 212);
    width: 60%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 3rem;
}

.btn-outline-secondary {
border-bottom: 1px solid rgb(212, 212, 212);
width: 100%;
}

@media (max-width: 320px) {
.btn-outline-secondary {
    border-bottom: 1px solid rgb(212, 212, 212);
    width: 100%;
}
}

@media (min-width: 321px) and (max-width: 374px) {
.btn-outline-secondary {
    border-bottom: 1px solid rgb(212, 212, 212);
    width: 100%;
}
}

@media (min-width: 375px) and (max-width: 424px) {
.btn-outline-secondary {
    border-bottom: 1px solid rgb(212, 212, 212);
    width: 100%;
}
}

@media (min-width: 425px) and (max-width: 766px) {
.btn-outline-secondary {
    border-bottom: 1px solid rgb(212, 212, 212);
    width: 100%;
}
}